
body {
	background-color:black;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 13px;
	color: white;	
	border: 20px solid transparent;
    padding: 15px;
    border-color:violet;
}
#list {
	float:right;	
	padding-top:100px;
	padding-right:50px;
}
#list a{
	margin-left:10px;
	font-size:30px;
	background-color:black;
	padding:3px;
	text-decoration:none;
	color:red;
	
}
#copyright {
display:block;
width: 1300x;
text-align:center;
font-size:16px;
line-height:25px;
}
div.index1
{
	text-align:center;
}
div.indexp
{
	margin-left:350px;
}
div.indexphoto
{
	margin-left:300px;
}

div.indexcontact
{
	text-align:center;
}
div.mypics
{
	background-image:url(images/abstr.jpg);
	background-repeat:no-repeat;
}
div.pphoto
{
	margin-left:300px;
}
div.indexpersonal
{
	margin-left:300px;
}
div.indexwork
{
	margin-left:400px;
}
div.photos
{
	margin-left:30px;
}
